# .env.production
FLASK_ENV=production
FLASK_SECRET_KEY=my_key

# LLM API Keys
GIGACHAT_AUTH_KEY=my_key
GIGACHAT_BASE_URL=https://url

# Kinopoisk
KINOPOISK_API_KEY=my_key

# Telegram Bot
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
BOT_MODE=polling

# Настройки приложения
MIN_VOTES_IMDB=5000
MIN_VOTES_KP=10000
CACHE_TTL=45

SSL_CERTIFICATE_PATH=/path/to/certificate.pem

LOG_LEVEL=INFO